var padding = require('./padding.wxs')

var now = getDate();

var year = now.getFullYear();
var month = padding(2)(now.getMonth() + 1);
var date = padding(2)(now.getDate());
var hours = padding(2)(now.getHours());
var minutes = padding(2)(now.getMinutes());
var seconds = padding(2)(now.getSeconds());

module.exports = year + '-' + month + '-' + date + ' ' + hours + ':' + minutes + ':' + seconds;
